* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, san serif;
    background-color: f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    

}

.product-card {
    width: 900px;
    background-color: #fff;
    border: 1px solid #000;
    padding: 20px;
    position: relative;
}